/** embedded font double rendering issue fix -- https://css-tricks.com/forums/discussion/10449/weird-mobile-safari-font-face-problem-font-doubled-and-offset-to-the-left-/p1 **/
h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */
    font-weight: normal;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
a {
    color: #b1bf92;
    text-decoration: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Bradley Greenwood
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    height: 100%;
    position: relative;
    width: 90%;
    margin: 0 5%;
}


/* =============================================================================
   GOOGLE MAPS
   ========================================================================== */
#gmap {
    text-align: center;
    margin: 20px auto 20px auto;
}

#gmap iframe {
    width: 93%;
    height: 200px;

    border: 10px solid #090909;

    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#gmap small a,
#gmap small a:active,
#gmap small a:visited {
    color: #b1bf92;
    text-decoration: none;
    outline: none;
}

#gmap small a:hover {
    color: #b1bf92;
    text-decoration: underline;
    outline: none;
}

/* ===================
    Theme
   =================== */

.header-container {
    position:absolute;
    bottom:20px;
    width: 100%;
    background: black;
    z-index: 10;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.9 opacity */
    background: rgba(0, 0, 0, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)";
}

.title {
    color: black;
}
#introtext {
    display: block;
    padding: 10px 0 10px 0;
    margin-bottom: 300px;
    background: black;

    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.7 opacity */
    background: rgba(0, 0, 0, 0.4);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000)";
}

#introtext .head-kristen {
    font-family: "Bellanche", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 10em;
    line-height: 100%;
}
#introtext .amp {
    position: relative;
    top: 19px;
    margin-left: -10px;
    font-size: 0.7em;
}
#introtext .head-matthew {
    font-family: "Bellanche", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 10em;
    line-height: 100%;
}
#introtext .date {
    margin-top: 10px;
    font-family: "Garamond", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
}

/* ==============
    MOBILE: Menu
   ============== */

nav {
    z-index: 42;
}

nav ul {
    font-family:"Garamond",Arial,sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: transparent;
    white-space: nowrap;
    outline: none;
}

nav li a:hover {
    color: #fff;
    background: #b1bf92;
    text-decoration: none;
    outline: none;
}
nav li a.selected {
    color: #fff;
    background: #b1bf92;
    text-decoration: none;
    outline: none;
}

/** firefox remove outline **/
nav ul li a:focus {outline:none;}
nav ul li a::-moz-focus-inner {border:0;}



/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 5% 0;
}
.main header {
    float: left;
    width: 80%;
}

/* ==========================================================================
   Brad's custom styles
   ========================================================================== */
* { margin: 0; padding: 0; }
html {

}

body {
    font-family: "Garamond", "HelveticaNeueLTStdRegular","HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #fff;
    text-align: center;

}

section {
    text-align: left;
    padding: 25px;
    background-color: black;
    height: 100%;
    margin-top: 200px;
    color: white;

    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.7 opacity */
    background: rgba(0, 0, 0, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000)";
}

section h1 {

    font-family: "Bellanche", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 2.6em;

}
section h2 {
    font-size: 1.1em;
    line-height: 120%;
    padding: 0 0px;
}

.column {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.column p {
    font-size: 1em;
    line-height: 145%;
    padding: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 240px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    body {
        background-position: 50% 20%;
    }

    /** get the transparent bar on the bottom **/
    .header-container {
        position:absolute;
        bottom:20px;
        width:100%;
        line-height:12px;
    }

    .header-container.sticky {
        position: fixed;
        top: 15px;
        
        animation:thedrop 1s 1;
        -moz-animation:thedrop 1s 1;
        -webkit-animation:thedrop 1s 1;
    }

    #introtext {
        padding: 30px 0 30px 0;
    }

    #introtext .head-kristen {
        font-size: 7em;
    }
    #introtext .amp {
        position: relative;
        top: 29px;
        font-size: 0.9em;
        margin-left: -20px;
    }
    #introtext .head-matthew {
        font-size: 7em;
    }
    #introtext .date {
        font-size: 1.1em;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    nav {
        display: block;
    }

    nav ul {
        text-align: center;
        margin: auto;
        padding: 0;
        text-align: center;
    }
    nav ul li {
        display: inline;
        padding: 0;
        margin: 0;
    }

    nav a {
        padding: 15px 1%;
        margin-bottom: 0;
        display:inline-block;
        font-size: 60%;
        white-space: nowrap;

        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;

        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
    }

    .main header {
        margin-top: 10%;
        float: left;
        width: 40%;
        min-width: 320px;
    }

    section {
        padding: 40px 40px 70px 40px;
    }
    section h1 {
        font-size: 3.1em;
    }
    section h2 {
        font-size: 1.7em;
    }


    .column p {
        font-size: 1.1em;
    }

    #gmap iframe {
        height: 400px;
    }



/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    section h1 {
        font-size: 4.9em;
    }
    section h2 {
        font-size: 2.0em;
    }

/* ============
    WIDE: Menu
   ============ */

    #introtext .head-kristen {
        font-size: 9em;
   }
    #introtext .amp {
        top: 0;
        font-size: 1em;
    }
    #introtext .head-matthew {
        font-size: 9em;
    }
    #introtext .date {
        font-size: 2em;
        margin-top: 15px;
        margin-bottom: 20px;
    }

/* ============
    WIDE: Main
   ============ */

    .main header {
        margin-top: 10%;
        margin-bottom: 30%;
        float: left;
        width: 100%;
    }

    nav a {
        padding: 15px 2%;
        font-size: 90%;
    }
}
@media only screen and (min-width: 900px) {

    section h1,
    section h2 {
        padding: 0 20px;
    }
    section h1 {
        font-size: 5.9em;
    }

    .column.full {
        clear: both;
        float: none;
        width: 100%;
    }
    .column {
        float: left;
        width: 50%;
    }
    .column p {
        font-size: 1.4em;
        line-height: 145%;
        padding: 0 20px;
    }  

}


@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    nav a {
        padding: 15px 3%;
        font-size: 120%;
    }

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    #introtext .head-kristen {
        font-size: 11em;
    }
    #introtext .amp {
        top: 0;
        font-size: 1.1em;
    }
    #introtext .head-matthew {
        font-size: 11em;
    }
    #introtext .date {

        font-size: 2.5em;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .main header {
        margin-top: 4%;
        margin-bottom: 30%;
        float: left;
        width: 100%;
    }

  
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/* =============================================================================
   FONTS
   ========================================================================== */

@font-face {
    font-family: 'futura_ltbold';
    src: url('futuralt-bold-webfont.eot');
    src: url('futuralt-bold-webfont.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */
         url('futuralt-bold-webfont.woff') format('woff'),  /* Modern Browsers */
         url('futuralt-bold-webfont.ttf') format('truetype'),  /* Safari, Android, iOS */
         url('futuralt-bold-webfont.svg#futura_ltbold') format('svg');  /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltbook';
    src: url('futuralt-book-webfont.eot');
    src: url('futuralt-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuralt-book-webfont.woff') format('woff'),
         url('futuralt-book-webfont.ttf') format('truetype'),
         url('futuralt-book-webfont.svg#futura_ltbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltregular';
    src: url('futuralt-webfont.eot');
    src: url('futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuralt-webfont.woff') format('woff'),
         url('futuralt-webfont.ttf') format('truetype'),
         url('futuralt-webfont.svg#futura_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alex_brushregular';
    src: url('alexbrush-regular-otf-webfont.eot');
    src: url('alexbrush-regular-otf-webfont.eot?#iefix') format('embedded-opentype'),
         url('alexbrush-regular-otf-webfont.woff') format('woff'),
         url('alexbrush-regular-otf-webfont.ttf') format('truetype'),
         url('alexbrush-regular-otf-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'great_vibesregular';
    src: url('greatvibes-regular-webfont.eot');
    src: url('greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('greatvibes-regular-webfont.woff') format('woff'),
         url('greatvibes-regular-webfont.ttf') format('truetype'),
         url('greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'scriptina_proregular';
    src: url('scriptina_pro-webfont.eot');
    src: url('scriptina_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('scriptina_pro-webfont.woff') format('woff'),
         url('scriptina_pro-webfont.ttf') format('truetype'),
         url('scriptina_pro-webfont.svg#scriptina_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
        font-family: 'EdwardianScrAltITCTT';
        src: url('edwasai.eot');
        src: url('edwasai.eot?#iefix') format('embedded-opentype'),
                 url('edwasai.woff') format('woff'),
                 url('edwasai.ttf') format('truetype'),
                 url('edwasai.svg#edwasai') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'EdwardianScrAltITCTTBold';
        src: url('edwasaib.eot');
        src: url('edwasaib.eot?#iefix') format('embedded-opentype'),
                 url('edwasaib.woff') format('woff'),
                 url('edwasaib.ttf') format('truetype'),
                 url('edwasaib.svg#edwasaib') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: Bellanche;
    src: url("Bellanche.otf") format("opentype");
}

@font-face {
    font-family: Caroline;
    src: url("Caroline.otf") format("opentype");
}

@font-face {
    font-family: Jessica_script;
    src: url("Jessica_script.otf") format("opentype");
}

@font-face {
    font-family: Odessa;
    src: url("Odessa.otf") format("opentype");
}

@font-face {
    font-family: Roberto;
    src: url("Roberto.otf") format("opentype");
}

.responsive-image.proposal {
    text-align: center;
    margin: 60px auto 60px auto;
}
.responsive-image.proposal img {
    border: 10px solid #090909;

    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

img.theinn  {

    text-align: center;
    margin-bottom: 50px;
}

div.bp h2 {
    margin: 0;
}
div.bp .column p {
    line-height: 180%;
}

.hr-t {
    margin: 80px auto 0 auto;
    width: 97%;
    border-top:#1e1e1e solid 1px;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.hr-b {
    margin: 0 auto 80px auto;
    width: 97%;
    border-bottom:#808080 solid 1px;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}
a[href^=tel] {
    color: white;
    text-decoration: none;
    outline: none;
}
a.email {
    color: #b1bf92;
}

.thumb {

    height: 80px;
    width: 80px;
    background-color: black;
    margin-right: 10px;
    margin-bottom: 0;
    float: left;

    border: 4px solid #090909;

    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

a:hover {
    text-decoration: underline;
}

/* ===============
      Background
   =============== */

.crossfade {
    position: fixed;
    left: 0px;
    top: 0px;
}

.crossfade > figure {
    animation: imageAnimation 75s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 0;
}

.crossfade > figure:nth-child(1) { background-image: url('../img/IMG_0708.jpg'); }

.crossfade > figure:nth-child(2) {
    animation-delay: 15s;
    background-image: url('../img/IMG_0614.jpg');
}

.crossfade > figure:nth-child(3) {
    animation-delay: 30s;
    background-image: url('../img/IMG_0768.jpg');
}

.crossfade > figure:nth-child(4) {
    animation-delay: 45s;
    background-image: url('../img/IMG_0782.jpg');
}

.crossfade > figure:nth-child(5) {
    animation-delay: 60s;
    background-image: url('../img/IMG_0870.jpg');
}

@keyframes
imageAnimation {  0% {
    animation-timing-function: ease-in;
    opacity: 0;
}
    8% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}